// ------------------------------------------------------------
// Navigation module
// ------------------------------------------------------------

// Place your BEM/SMACSS style .scss modules in the modules folder

.pagehead {

	background-color: $pos;
	overflow-x: hidden;
	border-bottom: solid 8px $secondary;
	box-shadow: 0 10px 55px rgba(0,0,0,0.2);

	.logo {
		display: block;
		float: left;
		max-width: 50%;
		margin-top: 8px;
		img {
			width: 100%;
		}
		@include break($d) {
			width: 20%;
			margin: 9px 0 0;
			img {
				max-width: 300px;
			}
		}
	}

	#nav-toggle {
		float: right;
		margin: 0;
		padding-bottom: 23px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 0;
		@include break($d) {
			display: none;
		}
	}

	.nav-collapse {
		text-transform: uppercase;
		@include clearfix;
		background-color: $secondary;
		clear: both;
		text-align: center;
		font-weight: lighter;
		padding-bottom: 15px;
		position: relative;
		clear: both;
		margin: 0 -500%;
		padding: 0 500%;
		@include break($d) {
			width: 80%;
			margin: 0;
			padding: 0;
			clear: none;
			background-color: transparent;
			float: right;
			padding-bottom: 0;
			//height: 60px;
			// clear: both;
			// margin: 0 -500%;
	  		//padding: 0 500%;
		}
		ul {

			@include clearfix;
			margin: 0; // cancel out global ul li style
			@include break($d) {
				width: 100%;
				float: left;
				clear: none;
			}

			li {
				float: right;
				width: 50%;
				margin: 0;
				list-style-type: none;

				@include break($d) {
					width: auto;
					margin: 0 1%;
				}

				a {

					@extend .sans;
					font-size: em-font(20px);
					display: inline-block;
					width: 100%;
					color: $pos;
					padding: 25px 5px;
					background-color: transparent;

					transition: all 0.2s ease-in-out;
					-moz-transition: all 0.2s ease-in-out;
					-webkit-transition: all 0.2s ease-in-out;

					&:hover, &:active {
						color: $pos;
						background-color: $primary;
					}

					@include break($d) {
						font-size: em-font(15px);
						color: $neg;
						position: relative;
						&:after {
							position: absolute;
							bottom: -10px;
							left: 33%;
							content: "";
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 0 10px 10px 10px;
							border-color: transparent transparent $secondary transparent;
						}
						&:hover, &:active {
							color: $primary;
							background-color: transparent;
							text-shadow: 0 0 1px lighten($primary, 30%);
							&:after {
								bottom: 0px;
							}
						}
					}
				}
			}
		}
	}
}